x64/Debug/Tetris.tlog/Tetris.lastbuildstate
cpp.hint
Tetris.sln
Tetris.vcxproj
Tetris.vcxproj.filters
Tetris.vcxproj.user
.vs/Tetris/v16/.suo
.vs/Tetris/v16/Browse.VC.db
.vs/Tetris/v16/ipch/AutoPCH/20c1e17f86c2de2e/FRAMEWORK.ipch
.vs/Tetris/v16/ipch/AutoPCH/890f86b89dd45898/MAIN.ipch
.vs/Tetris/v16/ipch/AutoPCH/e67b5b5757114e5/MAIN.ipch
x64/Debug/framework.obj
x64/Debug/framework.obj.enc
x64/Debug/main.obj
x64/Debug/Tetris.exe
x64/Debug/Tetris.exe.recipe
x64/Debug/Tetris.ilk
x64/Debug/Tetris.log
x64/Debug/Tetris.pdb
x64/Debug/Tetris.vcxproj.FileListAbsolute.txt
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/Tetris.tlog/CL.command.1.tlog
x64/Debug/Tetris.tlog/CL.read.1.tlog
x64/Debug/Tetris.tlog/CL.write.1.tlog
x64/Debug/Tetris.tlog/link.command.1.tlog
x64/Debug/Tetris.tlog/link.read.1.tlog
x64/Debug/Tetris.tlog/link.write.1.tlog
x64/Debug/tasks.json
.vs/Tetris/v16/ipch/AutoPCH/6681c334af677ce0/FRAMEWORK.ipch
.vs/Tetris/v16/ipch/AutoPCH/ef9e4f893d0293a7/MAIN.ipch
.vscode/c_cpp_properties.json
.vscode/tasks.json
x64/Release/framework.obj
x64/Release/main.obj
x64/Release/Tetris.exe
x64/Release/Tetris.exe.recipe
x64/Release/Tetris.iobj
x64/Release/Tetris.ipdb
x64/Release/Tetris.log
x64/Release/Tetris.pdb
x64/Release/Tetris.vcxproj.FileListAbsolute.txt
x64/Release/vc142.pdb
x64/Release/Tetris.tlog/CL.command.1.tlog
x64/Release/Tetris.tlog/CL.read.1.tlog
x64/Release/Tetris.tlog/CL.write.1.tlog
x64/Release/Tetris.tlog/link.command.1.tlog
x64/Release/Tetris.tlog/link.read.1.tlog
x64/Release/Tetris.tlog/link.write.1.tlog
x64/Release/Tetris.tlog/Tetris.lastbuildstate
x64/Release/Tetris.tlog/Tetris.write.1u.tlog
